/*estilo general para mi body */
body {
    line-height: 1,6;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 53, 53);
}

/* estilos seccion nav */

/* estilo menu de navegacion */
nav {
    background-color: rgb(0, 8, 80); /* coor de fondo del menu de navegacion */
    padding: 15px 30px; /*deffine el espaciointerno de todo el nav */

    /* flexbox */
    display: flex; /* convierte el nav en contenedor flex*/
    align-items: center; /* alinea h3 y ul al centro, si uno es mas alto que el otro se centraran entre si */
    justify-content: space-between; /* h3 a la izq y ul a la derecha*/ 
}

/* estilo para el h3 adentro del nav*/
nav h3 {
    color: #ffff;
    /* quito los margenes para que flex box lo controle dejarlos puede ocacionar errores*/
    margin: 0; /* orden arriba derecha abajo izquierda */
    padding: 0; /*quito relleno*/

}

/* esstilo para la lista entera */
nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

/* estilo para cada li dentro de la ul*/
nav li {
    display: inline-block; /* para que mi li se ponga en orizontal */
    margin: 0 0 0 15px; /*espacio entre los a de mi lista */
}

nav li:first-child { /* :first-child esta clase se aplica al elemento que viene justo antes (en este caso es li)
    y añade la codicion seleccionar el elemento(li) solo si es el primer hijo de su elemento padre (ul), es decir, anula su estilo general unicamente al primer elemento */
    margin-left: 0; /* margin-left quita el margen del primer elemento de la lista*/
}

/* estilo para los enlaces a dentro de cada li */
nav li a {
    color: #ffff;
    text-decoration: none; /* quita el subrayado */
    font-weight: bold; /* pone el texto en negrita */
}

/* estilo para nav li a cuando el puntero este encima del enlace*/
nav li a:hover { /* es una clase que aplica si el puntero esta encima de un elemento */
    color: rgb(82, 79, 79);
}

/* estilos seccion datos personales */

#datos_personales {
    padding: 30px 20px;
    margin: 20px;
    background-color: blue;
}

/* estilo para el h1 */
#datos_personales h1 {
    color: #ffff;
    margin-top: 0; /*quita el margen superior pordefecto*/
    margin-bottom: 15px; /* espacio abajo del h1*/
    text-align: center;
}

/* estilo para el contenedor principal de datos personales */
.contenedor-datos {
    display: flex; /* ubica todo en fila */
    align-items: center;/* alinea verticalmente el la img y el texto*/
    gap: 30px; /* espacio entre la imagen y el texto*/
    max-width: 800px;
    margin: 0 auto;
}

/* estilo para la img dentro del contenedor-datos en datos personales*/
.contenedor-datos img {
    max-width: 180px;
    height: auto;
    border-radius: 20%;
    border: 4px solid #552f2f;
    flex-shrink: 0;
}