{% extends 'layout.html' %}

{% block tittle %}
Ivan Escobar - Datos de Contacto
{% endblock %}

{% block body %}
<main>
    <h1>Datos de Contacto</h1>
    <section>
        <ul>
            <li>Telefono: +543586000456</li>
            <li>Email: i.escobar@itecriocaurto.org.ar</li>
            <li><a href="https://www.instagram.com/ivan.escobar.tfr/" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/ivan.escobar.5621thub.com" target="_blank">Facebook</a></li>
            <li><a href="https://x.com/ivanescobar_tfr" target="_blank">X</a></li>
        </ul>
    </section>
</main>
{% endblock %}