{% extends 'layout.html' %}

{% block tittle %}
Ivan Escobar - Datos de Contacto
{% endblock %}
{% block body %}
<h1>Datos de Contacto</h1>
<div class="contacto">
    <ul>
        <li>Tel: <a href="tel:=543586000456">+543586000456</a></li>
        <li>Email: <a href="mailto:i.escobar@itecriocaurto.org.ar">i.escobar@itecriocaurto.org.ar</a></li>
        <li><a href="github.com/IvanDanielEscobar" target="_blank">GitHub</a></li>
        <li><a href="www.linkedin.com/in/ivan-daniel-escobar-55493a186/" target="_blank">LinkedIn</a></li>
    </ul>
</div>
{% endblock %}