

{% extends 'layout.html' %}

{% block tittle %}
Ivan Escobar - Intereses
{% endblock %}

{% block body %}
<h1>Cursos</h1>

<div class="cursos">
    <article>
        <h2>Curso de Reparacion de PC</h2>
        <p>Institución: Instituto Tecnologico Rio Cuarto, Año 2019</p>
    </article>
</div>

<h3>Otras Capacitaciones</h3>

<div class="capacitaciones">
    <article>
        <h4>Taller de Fotografia</h4>
        <p>Brindado por Valeria Caballero, realizado en Mariquita Sanchez de Thompson en el año 2013</p>
    </article>

    <article>
        <h4>Taller de Economia PErsonal</h4>
        <p>Brindado por Junior Achievement, realizado en Instituto Superior Jeronimo Luis de Cabrera en el año 2017</p>
    </article>

    <article>
        <h4>Taller de Fotografia Profesional</h4>
        <p>Brindado por Belen Juarez, realizado en Instituto Tecnologico Rio Cuarto</p>
    </article>

    <article>
        <h4>Carnet de Conducir A3</h4>
        <p>Vencimiento 04/02/2027</p>
    </article>

    <article>
        <h4>Carnet de Conducir B2</h4>
        <p>Vencimiento 04/02/2027</p>
    </article>
</div>

{% endblock %}
