{% extends 'layout.html' %}

{% block tittle %} 
Ivan Escobar - Datos Personales 
{% endblock %}

{% block body %}
<main>
    <h1>Datos Personales</h1>
    <section>
        <img src="{{ url_for('static', filename='img/mifoto.jpg') }}"> {# le dice que genere una url para la foto ubicada en la carpeta static/img #}
        <p><strong>Nombre:</strong> Ivan Daniel Escobar</p>
        <p><strong>Fecha de Nacimiento:</strong> 15/07/1999</p>
        <p><strong>Dirección:</strong> Pasaje Obregon 597, Rio Cuarto, Cordoba, Argentina</p>
        <p><strong>Disponibilidad horaria:</strong> Full Time</p>
    </section>
</main>
{% endblock %}