<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Currículum Vitae de Ivan Escobar">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Ivan Escobar">
    <title>Ivan Escobar - Datos Personales</title>
</head>

<body>
    <main>
        <section>
            <img src="../media/img/mifoto.jpg" alt="Foto personal" width="150">
            <p><strong>Nombre:</strong> Ivan Daniel Escobar</p>
            <p><strong>Fecha de Nacimiento:</strong> 15/07/1999</p>
            <p><strong>Dirección:</strong> Pasaje Obregon 597, Rio Cuarto, Cordoba, Argentina</p>
            <p><strong>Disponibilidad horaria:</strong> Full Time</p>
        </section>
    </main>
</body>

</html>