
<h1>Experiencia Profesional</h1>

<article>
    <h2>Empresa: Correo Oficial de la Republica Argentina S.A.</h2>
    <p>Puesto: Auxiliar, Desde 2020 - Hasta Actualmente</p>
    <p>Descripción: Desempeño tareas operativas en el área de logística, incluyendo la
        carga y descarga de camiones y camionetas, clasificación de
        encomiendas por destino, armado y desarmado de pallets y sacos
        para su distribución. Además, realizo el rescate de encomiendas con
        solicitud de devolución, asegurando un flujo eficente y organizado
        de los envíos.</p>
</article>

<article>
    <h2>Empresa:  ITEC</h2>
    <p>Puesto: Ayudante tecnico, Desde 2019 - Hasta 2019</p>
    <p>Descripción: Colaboré en el mantenimiento de laboratorios informáticos, realizando tareas de soporte técnico, configuración
        de equipos y asegurando el correcto funcionamiento de hardware y software.</p>
</article>

<article>
    <h2>Empresa:  Quimica Carnerillo</h2>
    <p>Puesto: Empleado de Comercio, Desde 2016 - Hasta 2017</p>
    <p>Descripción: Atención al cliente y ventas, asesorando sobre
        productos, reposición de stock y control de mercadería. Además,
        el mantenimiento del orden y la gestión de caja.</p>
</article>
