<nav>
    <h3>Mi Curriculum</h3>
    <ul>
        <li><a href="{{ url_for('datos_personales')}}">Datos Personales</a></li>
        <li><a href="{{ url_for('contacto')}}">Datos de Contacto</a></li>
        <li><a href="{{ url_for('redes_sociales')}}">Redes Sociales</a></li>
        <li><a href="{{ url_for('idiomas')}}">Idiomas</a></li>
        <li><a href="{{ url_for('intereses')}}">Intereses</a></li>
        <li><a href="{{ url_for('sobre_mi')}}">Sobre Mí</a></li>
        <li><a href="{{ url_for('experiencia')}}">Experiencia Profesional</a></li>
        <li><a href="{{ url_for('educacion')}}">Educación</a></li>
        <li><a href="{{ url_for('habilidades')}}">Habilidades</a></li>
        <li><a href="{{ url_for('cursos')}}">Cursos</a></li>
        <li><a href="{{ url_for('referencias')}}">Referencias</a></li>
    </ul>
</nav>