
<h1>Habilidades</h1>
<div>
   <h2>Habilidades Técnicas</h2>
   <ul>
       <li>Amplia experiencia en hardware de computadoras (componentes, arquitecturas, ensamblaje/desensamblaje).</li>
   </ul>
</div>
<div>
    <h2>Habilidades Blandas</h2>
    <ul>
        <li>Comprension rapida: Entendimiento ágil de nuevos procesos y flujos de trabajo.</li>
        <li>Rapido Aprendizaje: Compresión y realización eficaz de nuevas tareas asignadas.</li>
        <li>Trabajo en Equipo: Comunicación abierta y eficaz para resolver problemas.</li>
        <li>Autonomia: Capacidad para asumir y cumplir responsabilidades de forma independiente.</li>
    </ul>
</div>