{% extends 'layout.html' %}

{% block title %}
    Ivan Escobar - Curriculum Vitae
{% endblock %}

{% block body %}
<section id="datos_personales">
    {% include 'datos_personales.html' %}
</section>
<section id="contacto">
    {% include 'contacto.html' %}
</section>

<section id="redes_sociales">   
    {% include 'redes_sociales.html' %}
</section>

<section id="idiomas">
    {% include 'idiomas.html' %}
</section>

<section id="intereses">
    {% include 'intereses.html' %}
</section>

<section id="sobre_mi">
    {% include 'sobre_mi.html' %}
</section>

<section id="experiencia">
    {% include 'experiencia.html' %}
</section>

<section id="educacion">
    {% include 'educacion.html' %}
</section>

<section id="habilidades">
    {% include 'habilidades.html' %}
</section>

<section id="cursos">
    {% include 'cursos.html' %}
</section>

<section id="referencias">
    {% include 'referencias.html' %}
</section>

{% endblock %}