<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Ivan Escobar">
    <title>Iván Escobar - Intereses</title>
</head>
<body>
    <header>
        <h1>Intereses</h1>
    </header>
    <main>
        <section>
            <ul>
                <li>Programacion</li>
                <li>Fotografía</li>
                <li>Futbol</li>
                <li>Videojuegos</li>
            </ul>
        </section>
    </main>
</body>
</html>