<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi Curriculum Online">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Ivan Escobar">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
        <title>{% block title %}Mi curriculum{% endblock %}</title>
</head>
<body>
    <nav>
        <h3>Mi Curriculum</h3>
        <ul>
            <li><a href="#datos_personales">Datos Personales</a></li>
            <li><a href="#contacto">Datos de Contacto</a></li>
            <li><a href="#redes_sociales">Redes Sociales</a></li>
            <li><a href="#idiomas">Idiomas</a></li>
            <li><a href="#intereses">Intereses</a></li>
            <li><a href="#sobre_mi">Sobre Mi</a></li>
            <li><a href="#experiencia">Experiencia Profesional</a></li>
            <li><a href="#educacion">Educacion</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#cursos">Cursos</a></li>
            <li><a href="#referencias">Referencias</a></li>
        </ul>
    </nav>
    {% block body %}
    {%  endblock %}
</body>
<footer>
    <p>Mis redes:</p>
    <ul>
        <li><a href="https://github.com/IvanDanielEscobar" target="_blank">Mi GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/ivan-daniel-escobar-55493a186/" target="_blank">Mi LinkedIn</a></li>
        <li><a href="{{ url_for('index')}}">Inicio</a></li>
    </ul>
</footer>
</html>