<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Currículum Vitae de Ivan Escobar">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Ivan Escobar">
    <title>Ivan Escobar - Redes Sociales</title>
</head>
<body>
    <header>
        <h1>Redes Sociales</h1>
    </header>
    <section>

        <h2>Redes Sociales</h2>
        <p>Mis redes personales:</p>
        <ul>
            <li><a href="" target="_blank">Instagram</a></li>
            <li><a href="https://www.facebook.com/ivan.escobar.5621" target="_blank">Facebook</a></li>
            <li><a href="https://x.com/ivanescobar_tfr" target="_blank">X</a></li>
        </ul>
    </section>
</body>
</html>