{% extends 'layout.html' %}

{% block tittle %}
Ivan Escobar - Intereses
{% endblock %}

{% block body %}
<h1>Redes Sociales</h1>
<div class="redes-contenido">
<p>Mis redes personales:</p>
<div class="lista-redes">
    <ul>
        <li><a href="https://www.instagram.com/ivan.escobar.tfr/" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/ivan.escobar.5621" target="_blank">Facebook</a></li>
        <li><a href="https://x.com/ivanescobar_tfr" target="_blank">X</a></li>
    </ul>
</div>
</div>
{% endblock %}
