<h1>Referencias</h1>

<article>
    <h2>Matias Vusurovich</h2>
    <p>Puesto: Dueño</p>
    <p>Empresa: Quimica Carnerillo</p>
    <p>Contacto: +5435848277772</p>
</article>

<article>
    <h2>Enrique Brizuela</h2>
    <p>Puesto: Representante legal</p>
    <p>Empresa: Instituto Tecnologico Rio Cuarto</p>
    <p>Contacto: +543584643036</p>
</article>

<article>
    <h2>Guillermo Mojica</h2>
    <p>Puesto: Supervisor Directo</p>
    <p>Empresa: Correo Oficial de la Republica Argentina S.A.</p>
    <p>Contacto: +543585088304</p>
</article>