<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi Curriculum Online">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Ivan Escobar">
    <title>Ivan Escobar - Sobre Mi</title>
</head>
<body>
    <header>
        <h1>Sobre Mi</h1>
    </header>
    <main>
        <section>
            <h1>Sobre Mi</h1>
            <p>
                ¡Hola! Soy Iván Escobar, tengo 25 años y soy de Río Cuarto, Córdoba, Argentina.
                Trabajo en el Correo Oficial de la República Argentina S.A. en la parte operativa y,
                estoy estudiando en el ITEC para seguir creciendo. Me gustan los desafíos
                y siempre busco aprender cosas nuevas. En mi tiempo libre mis aficiones son el futbol
                y los videojuegos. Tengo dos compañeros de vida un perro y un gato ambos cahorros.
            </p>
        </section>
    </main>
    <section>
        <h2>Mi álbum personal</h2>
        <section>
            <div>
                <img src="../media/sobre-mi/1000003347-01.jpeg" alt="Imagen 1">
                <img src="../media/sobre-mi/DSC_0559.JPG" alt="Imagen 2">
                <img src="../media/sobre-mi/DSC_0867.JPG" alt="Imagen 3">
                <img src="../media/sobre-mi/DSC_0917.JPG" alt="Imagen 4">
                <img src="../media/sobre-mi/IMG-20200918-WA0118.jpg" alt="Imagen 5">
                <img src="../media/sobre-mi/IMG-20210301-WA0020.jpg" alt="Imagen 6">
                <img src="../media/sobre-mi/IMG-20240612-WA0121.jpg" alt="Imagen 7">
                <img src="../media/sobre-mi/IMG-20241207-WA0081.jpg" alt="Imagen 8">
                <img src="../media/sobre-mi/IMG_20240429_125214.jpg" alt="Imagen 9">
                <img src="../media/sobre-mi/IMG_20240603_113213.jpg" alt="Imagen 10">
            </div>
        </section>
    </section>
</body>
</html>