{% extends 'layout.html' %}

{% block title %}
Ivan Escobar - Sobre Mi
{% endblock %}

{% block body %}

<section>
    <h1>Sobre Mi</h1>
    <p>
        ¡Hola! Soy Iván Escobar, tengo 25 años y soy de Río Cuarto, Córdoba, Argentina.
        Trabajo en el Correo Oficial de la República Argentina S.A. en la parte operativa y,
        estoy estudiando en el ITEC para seguir creciendo. Me gustan los desafíos
        y siempre busco aprender cosas nuevas. En mi tiempo libre mis aficiones son el futbol
        y los videojuegos. Tengo dos compañeros de vida un perro y un gato ambos cahorros.
    </p>
</section>
    
<section>
    <h2>Mi álbum personal</h2>
    <section>
        <div>
            <img src="{{ url_for('static', filename='sobre_mi/alianza1.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/alianza2.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/alianza3.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/alianza4.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/alianza5.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/corcho1.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/corchoymushu1.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/cuyo1.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/cuyo2.jpg') }}"> 
            <img src="{{ url_for('static', filename='sobre_mi/foecyt1.jpg') }}"> 
        </div>
    </section>
</section>
{% endblock %}